.nav{
    justify-content: center;
    width: 1480px;
    background-color: aqua;
    display: flex;
    align-items: center;
    height: 100px;
}
.Title{
    margin-bottom: 30px;
}
img{
    border-radius: 30px;
    background-color: black;;
}